{% extends 'partials/passwordgenerator_base.html.twig' %}

{% block content %}
    {% set content_position = config.plugins.passwordgenerator.content_position ?? true %}

    <h1>{{ page.title }}</h1>

    {% if content_position is same as(false) %}
        {{ content|raw }}
    {% endif %}

    <form method="post" id="form-password">
        <table>
            <tr>
                <td><label class="required" for="passwords_generator_number">{{ 'PLUGIN_PASSWORD_GENERATOR.NUMBER_PASSWORD'|t }}</label></td>
                <td><input type="number" id="passwords_generator_number" name="passwords_generator[number]" required="required" value="10"></td>
            </tr>
            <tr>
                <td><label class="required" for="passwords_generator_char_number">{{ 'PLUGIN_PASSWORD_GENERATOR.NUMBER_CHAR'|t }}</label></td>
                <td><input type="number" id="passwords_generator_char_number" name="passwords_generator[char_number]" required="required" value="12"></td>
            </tr>
            <tr>
                <td><label class="required">{{ 'PLUGIN_PASSWORD_GENERATOR.TYPE_CHAR'|t }}</label></td>
                <td>
                    <div id="passwords_generator_char_types">
                        <input type="checkbox" id="passwords_generator_char_types_0" name="passwords_generator[char_types][]" nb="26" value="minuscules" checked="checked">
                        <label for="passwords_generator_char_types_0">{{ 'PLUGIN_PASSWORD_GENERATOR.TYPE_CHAR_LOWERCASE'|t }}</label><br/>
                        <input type="checkbox" id="passwords_generator_char_types_1" name="passwords_generator[char_types][]" nb="26" value="majuscules" checked="checked">
                        <label for="passwords_generator_char_types_1">{{ 'PLUGIN_PASSWORD_GENERATOR.TYPE_CHAR_UPPERCASE'|t }}</label><br/>
                        <input type="checkbox" id="passwords_generator_char_types_2" name="passwords_generator[char_types][]" nb="10" value="chiffres" checked="checked">
                        <label for="passwords_generator_char_types_2">{{ 'PLUGIN_PASSWORD_GENERATOR.TYPE_CHAR_NUMBERS'|t }}</label><br/>
                        <input type="checkbox" id="passwords_generator_char_types_3" name="passwords_generator[char_types][]" nb="21" value="speciaux" checked="checked">
                        <label for="passwords_generator_char_types_3">{{ 'PLUGIN_PASSWORD_GENERATOR.TYPE_CHAR_SPECIALS'|t }}</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="strength-wrapper">
                        <div class="very-weak"></div>
                        <div class="weak"></div>
                        <div class="medium"></div>
                        <div class="strong"></div>
                        <div class="cache"></div>                        
                    </div>
                    <div class="text" very-weak="{{ 'PLUGIN_PASSWORD_GENERATOR.STRENGTH_VERY_LOW'|t }}" weak="{{ 'PLUGIN_PASSWORD_GENERATOR.STRENGTH_LOW'|t }}" medium="{{ 'PLUGIN_PASSWORD_GENERATOR.STRENGTH_MEDIUM'|t }}" strong="{{ 'PLUGIN_PASSWORD_GENERATOR.STRENGTH_STRONG'|t }}">{{ 'PLUGIN_PASSWORD_GENERATOR.STRENGTH_LOW'|t }}</div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" name="subject" id="subject" class="btn btn-primary">{{ 'PLUGIN_PASSWORD_GENERATOR.BUTTON'|t }}</button></td>
            </tr>
        </table>

    </form>
    
    <h2>{{ 'PLUGIN_PASSWORD_GENERATOR.RESULTS'|t }}</h2>
    <div id="list"></div>

    {% if content_position is same as(true) %}
        {{ content|raw }}
    {% endif %}
{% endblock %}